<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Trang chủ</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{../../css/styles.css}" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>

<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light"
             style="height: 76px;">LOGO
        </div>
        <div class="list-group list-group-flush">
            <a
                    class="list-group-item list-group-item-action list-group-item-light p-3"
                    th:href="@{/adminHome}"><i class="fa fa-home"
                                               style="font-size: 22px;"></i>&ensp;TRANG CHỦ</a> <a
                class="list-group-item list-group-item-action list-group-item-light p-3"
                th:href="@{/admin/send-email}"><i class="fa fa-envelope-o fa-fw"
                                                  style="font-size: 22px;"></i>&ensp;GỬI EMAIL</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav
                class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <div class="col-sm-10" style="text-align: center;">
                    <h2>
                        <b>Chào mừng bạn đến với JVB VIỆT NAM</b>
                    </h2>
                </div>
                <div class="col-md-2">
                    <div class="dropdown" style="margin-top: 20px;">
                        <button class="btn btn-light dropdown-toggle" type="button"
                                data-toggle="dropdown">
                            <i class="fa fa-user" style="font-size: 22px;"></i> &ensp; <b
                                th:text="${name}"></b> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/hello/new-password}">Đổi mật khẩu</a></li>
                            <li>
                                <form th:action="@{/logout}" method="post">
                                    <button type="submit">Đăng xuất</button>
                                </form>
                            </li>
                        </ul>
                        &ensp; <i class="fa fa-bell" style="font-size: 27px; color: gray"></i>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <h2 class="mt-4" style="text-align: center;">Cập nhập thông tin</h2>
            <br>
            <br>
            <div class="conten">
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-7">
                        <form th:action="@{/admin/submit-update-admin}" method="POST" th:object="${employee}">
                            <div class="row" style="width: 700px;">
                                <input th:value="${id}" name="id" type="hidden">
                                <div class="col-8">
                                    <div class="d-flex justify-content-between">
                                        <div class="p-2">
                                            <label>Họ:</label>
                                        </div>
                                        <div class="p-2">
                                            <input type="text" name="firstName" th:field="*{firstName}">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="p-2">
                                            <label>Tên:</label>
                                        </div>
                                        <div class="p-2">
                                            <input type="text" name="lastName" th:field="*{lastName}">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="p-2">
                                            <label>Ngày Sinh: </label>
                                        </div>
                                        <div class="p-2">
                                            <input type="date"
                                                   th:value="${#dates.format(employee.getDateOfBirth(), 'yyyy-dd-MM')}">
                                        </div>
                                    </div>
                                    <div class="d-flex ">
                                        <div class="p-2">
                                            <label>Giới tính: </label>
                                        </div>
                                        <div class="p-2" style="margin-left: 150px">
                                            <input th:type="radio" name="gender" th:value="${employee.gender}"
                                                   th:checked="${employee.gender.equals('1')}"/>Nam
                                            &ensp;&ensp;
                                            <input th:type="radio" name="gender" th:value="${employee.gender}"
                                                   th:checked="${employee.gender.equals('0')}"/>Nữ
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="p-2">
                                            <label>Email: </label>
                                        </div>
                                        <div class="p-2">
                                            <input type="email" readonly name="email" th:field="*{email}">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="p-2">
                                            <label>Điện thoại: </label>
                                        </div>
                                        <div class="p-2">
                                            <input class="flags" type="text" name="phoneNumber"
                                                   th:field="*{phoneNumber}">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="p-2">
                                            <label>Địa chỉ: </label>
                                        </div>
                                        <div class="p-2">
                                            <input class="flags" type="text" name="address"
                                                   th:field="*{address}">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="p-2">
                                            <label>Team: </label>
                                        </div>
                                        <select name="deptId" style="width: 198px;height: 36px;">
                                            <option th:each="dept : ${departments}" th:value="${dept.getId()}"
                                                    th:text="${dept.getName()}"
                                                    th:selected="${employee.department.id == dept.getId()}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-2">

                                </div>
                                <div class="col-2">
                                    <img th:src="@{/image/user.png}" style="width: 230px;" alt="">
                                    <br>
                                    <br>
                                    <div>
                                        <button type="submit" style="width: 250px; height: 50px;"
                                                class="btn btn-success">Cập Nhập
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!-- Core theme JS-->
<script th:src="@{../../js/scripts.js}"></script>
</body>

</html>
