<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<body>
<section class="vh-100" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body  text-center">
            <h3 class="mb-5">Đổi mật khẩu</h3>
            <div th:if="${param.error}" class="alert alert-danger">
              Đổi mật khẩu thất bại!!!
            </div>
            <div th:if="${param.results}" class="alert alert-success">
              Đổi mật khẩu thành công!!! <a th:href="@{/login}">Đăng nhập</a>
            </div>
            <form  th:action="@{/hello/submit-new-password}" method="post">
              <div class="row mb-4">
                <div class="col">
                  <label class="form-label" style="line-height: 45px;">Mật khẩu cũ</label>
                </div>
                <div class="col">
                  <input type="password" name="oldPassword" style="width: 229px;" class="form-control form-control-lg" />
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <label class="form-label" style="line-height: 45px;" >Mật khẩu mới</label>
                </div>
                <div class="col">
                  <input type="password" name="beforeNewPassword" style="width: 229px;" class="form-control form-control-lg" />
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <label class="form-label" style="line-height: 45px;">Nhập lại mật khẩu</label>
                </div>
                <div class="col">
                  <input type="password" name="afterNewPassword" style="width: 229px;" class="form-control form-control-lg" />
                </div>
              </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit">XÁC NHẬN</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
