<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đổi mật khẩu</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link th:href="@{css/home.css}" rel="stylesheet"/>
</head>

<body>
<section class="vh-100" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body  text-center">
            <h3 class="mb-5">Đổi mật khẩu</h3>
            <div th:if="${param.error}" class="alert alert-danger">
              Đổi mật khẩu thất bại!!!
            </div>
            <div th:if="${param.results}" class="alert alert-success">
              Đổi mật khẩu thành công!!! <a th:href="@{/login}">Đăng nhập</a>
            </div>
            <form  th:action="@{/hello/submit-new-password}" method="post" id="formChangePass" th:object="${dataPassword}">
              <div class="row mb-4">
                <div class="col">
                  <label class="form-label" style="line-height: 45px;">Mật khẩu cũ</label>
                </div>
                <div class="col">
                  <input type="password" name="oldPassword" style="width: 229px;" class="form-control form-control-lg" />
                  <small></small>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <label class="form-label" style="line-height: 45px;" >Mật khẩu mới</label>
                </div>
                <div class="col">
                  <input id="password" type="password" name="newPassword" style="width: 229px;" class="form-control form-control-lg" />
                  <small></small>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <label class="form-label" style="line-height: 45px;">Nhập lại mật khẩu</label>
                </div>
                <div class="col">
                  <input type="password" id="repeatPassword" name="repeatPassword" style="width: 229px;" class="form-control form-control-lg" />
                  <small></small>
                </div>
              </div>
              <button id="changePassword" class="btn btn-primary btn-lg btn-block" type="submit">XÁC NHẬN</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" th:src="@{/js/validate.js}"></script>\
<script type="text/javascript" th:src="@{/js/password/changePassword.js}"></script>
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>-->

<div class="modal" tabindex="-1" role="dialog" id="notification">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button id="confirmButton" type="button" data-dismiss="modal" class="btn btn-primary">Đăng nhập</button>
      </div>
    </div>
  </div>
</div>
</body>

</html>
