<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quên mật khẩu</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<script th:src="@{https://code.jquery.com/jquery-3.1.1.min.js}"></script>
<body>
<section class="vh-100" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Tìm Email của bạn</h3>
            <p>Vui lòng nhập email để khôi phục mật khẩu?</p>
            <form form method="POST" th:action="@{/forgotPassword}">
              <div th:if="${error}" class="alert alert-danger">
                <span th:text="${error}"></span>
              </div>
              <div th:if="${message}" class="alert alert-success">
                <span th:text="${message}"></span>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="typeEmailX-2">Email</label>
                <input type="email" name="email" id="typeEmailX-2" class="form-control form-control-lg" />
              </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit">XÁC NHẬN</button>
            </form>
            <hr class="my-4">


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>

</html>
