<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<body>
<section class="vh-100" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Tìm Email của bạn</h3>
            <p>Vui lòng nhập email để khôi phục mật khẩu?</p>
            <form form method="POST" th:action="@{/resetPassword}" th:object="${resetPass}">
              <div th:if="${error}" class="alert alert-danger">
                <span th:text="${error}"></span>
              </div>
              <div th:if="${message}" class="alert alert-success">
                <span th:text="${message}"></span>
              </div>
              <div class="form-outline mb-4">
                <input type="hidden" name="token" th:value="${token}">
                <label class="form-label" for="typePasswordX-2">Mật khẩu mới</label>
                <input type="password" name="newPassword" id="typePasswordX-2" class="form-control form-control-lg" />
                <label class="form-label" for="typeRepeatPasswordX-2">Nhập lại mật khẩu</label>
                <input type="password" name="repeatPassword" id="typeRepeatPasswordX-2" class="form-control form-control-lg" />
              </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit">Cập nhật</button>
            </form>
            <hr class="my-4">


          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
