<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h3 class="mb-5">Khôi phục mật khẩu</h3>
                        <form id="formResetPass" method="POST" th:action="@{/resetPassword}" th:object="${dataPassword}">
                            <div class="form-outline mb-4">
                                <input type="hidden" name="token" th:value="${token}">
                                <label class="form-label" for="typePasswordX-2">Mật khẩu mới</label>
                                <input type="password" name="newPassword" id="typePasswordX-2"
                                       class="form-control form-control-lg"/>
                                <label class="form-label" for="typeRepeatPasswordX-2">Nhập lại mật khẩu</label>
                                <input type="password" name="repeatPassword" id="typeRepeatPasswordX-2"
                                       class="form-control form-control-lg"/>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Cập nhật</button>
                        </form>
                        <hr class="my-4">


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/js/password/forgotPassword.js}"></script>
    <div class="modal" tabindex="-1" role="dialog" id="notification">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary" onclick="return window.location = 'http://localhost:8081/login'">Đăng nhập</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
