.p-2 input{
    width: 280px;
    height: 50px;
    border: none;
}
.conten{
    margin: 60px auto;
}

.p-2 label{
    line-height: 50px;
}
.flags{
    background-color: #3CBC8D;
    color: white;
}
.col.error small{
    color: red;
}
.col.error input{
    border: 1px solid red;
}

.thebtn{
    border: none;
    background-color: white;
}
.thebtn:hover{
    color: green;
}
