<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{email.reset.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.reset.greeting(${user.getLastName()})}">Dear</p>
    <p th:text="#{email.reset.text1}">
    </p>
    <p>
      <a th:with="url=(@{|${baseUrl}/resetPassword?key=${keyActive}|})" th:href="${url}" th:text="${url}">Login link</a>
    </p>
    <p>
      <span th:text="#{email.reset.text2}"></span>
      <br />
      <em th:text="#{email.signature}"></em>
    </p>
  </body>
</html>
