<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.password.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="#{email.password.greeting(${user.getLastName()})}"></p>
<p th:text="#{email.password.text}"></p>
<p th:text="#{email.password.text1}"></p>
<p th:text="${password}"></p>
<p>
    <br />
    <em th:text="#{email.signature}"></em>
</p>
</body>
</html>
